body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon {
  height: 200px;
  width: 200px;
}

#stopwatch {
  height: 80px;
  display: inline-block;
  margin: 15px;
}

.android {
  height: 250px;
}

.equalWidth {
  width: 165px;
}

.top-buffer {
  margin-top: 80px;
}

.innerCol {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}
